In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_excel('E:/Businesstoys/ktm.xlsx')
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [3]:
df = df.drop('ID', axis=1)

In [4]:
df.head()

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,29,Male,Student,Average,180 to 220,Complicated,Purchased

## Label encoding categorical values

In [5]:
le = LabelEncoder()

In [6]:
df['Occupation']= le.fit_transform(df['Occupation'])
df['Phone Type']= le.fit_transform(df['Phone Type'])
df['Current Bike']= le.fit_transform(df['Current Bike'])
df['Relationship']= le.fit_transform(df['Relationship'])
df['Response']= le.fit_transform(df['Response'])
df['Gender']= le.fit_transform(df['Gender'])

In [7]:
df.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship  Response
0   53       1           0           0             1             1         0
1   27       0           1           2             4             3         1
2   39       0           3           0             1             2         0
3   20       0           3           1             4             2         0
4   29       1           2           0             1             1         1

In [8]:
x = df.drop('Response', axis=1)
x.head()

   Age  Gender  Occupation  Phone Type  Current Bike  Relationship
0   53       1           0           0             1             1
1   27       0           1           2             4             3
2   39       0           3           0             1             2
3   20       0           3           1             4             2
4   29       1           2           0             1             1

In [9]:
y = df[['Response']]
y.head()

   Response
0         0
1         1
2         0
3         0
4         1

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3)

In [11]:
Rf = RandomForestClassifier()

In [12]:
Rf.fit(xtrain, ytrain)

<ipython-input-12-36283d7eee91>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(xtrain, ytrain)

RandomForestClassifier()

In [13]:
#testing accuracy
pred = Rf.predict(xtest)

In [14]:
accuracy_score(ytest, pred)

0.7653508771929824

In [15]:
#training accuracy
pred1 = Rf.predict(xtrain)

In [16]:
accuracy_score(ytrain, pred1)

0.9962335216572504

In [17]:
#import stratified cv
#create a fn that will return train test split, model fit, prediction, evaluation

## Implementing using stratified cv

In [18]:
from sklearn.model_selection import StratifiedKFold

In [19]:
stf = StratifiedKFold(n_splits=10)

In [20]:
stf.get_n_splits(X=x, y=y)

10

In [21]:
accuracy = []   #list of accuracies
for train_index, test_index in stf.split(x, y):
    x_train, x_test = x.iloc[train_index], x.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    Rf.fit(x_train, y_train)
    pred_s = Rf.predict(x_test)
    acc = accuracy_score(y_test, pred_s) #Testing accuracy
    accuracy.append(acc)

<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)
<ipython-input-21-a500b86a9b54>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Rf.fit(x_train, y_train)

In [22]:
accuracy

[0.5328947368421053,
 0.5263157894736842,
 0.4934210526315789,
 0.5657894736842105,
 0.881578947368421,
 0.8947368421052632,
 0.8618421052631579,
 0.9276315789473685,
 0.847682119205298,
 0.8807947019867549]

In [23]:
np.mean(accuracy) #Final accuracy using stratified cv

0.7412687347507843

In [24]:
split = x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)

In [46]:
#UDF for calculating bias & variance
def my_func(x, y, model):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3)
    model = model()
    model.fit(x_train, y_train)
    pred_te = model.predict(x_test)
    te_ac = accuracy_score(y_test, pred_te) #Testing accuracy
    pred_tr = model.predict(x_train)
    tr_ac = accuracy_score(y_train, pred_tr) #Training accuracy
    print(f'Testing accuracy is {te_ac}')
    print(f'Training accuracy is {tr_ac}')

In [49]:
my_func(x, y, model=RandomForestClassifier())

<ipython-input-46-8431fdc3ae83>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train, y_train)

Testing accuracy is 0.7631578947368421
Training accuracy is 0.9934086629001884