In [1]:
# data handling libraries
import pandas as pd
import numpy as np

#importing sklearn Linear model
from sklearn.linear_model import LinearRegression

#train test split
from sklearn.model_selection import train_test_split

#evaluation
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
myntra = pd.read_excel('E:/Businesstoys/Python/Myntra case py.xlsx')
myntra.head()

   Time (Mins)  Recall Rate
0            1         0.84
1            5         0.71
2           15         0.61
3           30         0.56
4           60         0.54

In [3]:
myntra.shape

(13, 2)

In [4]:
#Checking Descriptive statistics
myntra.describe()

        Time (Mins)  Recall Rate
count     13.000000    13.000000
mean    1679.307692     0.432308
std     3018.230508     0.222567
min        1.000000     0.080000
25%       30.000000     0.260000
50%      240.000000     0.450000
75%     1440.000000     0.560000
max    10080.000000     0.840000

In [5]:
#checking skewnwss for feature
myntra['Time (Mins)'].skew()    #Since the data is not skewed, we need to perform transformation .

2.257935130131851

In [6]:
myntra['Time (Mins)'] = np.log(myntra['Time (Mins)'])

In [7]:
myntra.skew()  #feature is normally distributed and is good to fit nto eqn

Time (Mins)   -0.348620
Recall Rate    0.143672
dtype: float64

In [8]:
myntra.head()

   Time (Mins)  Recall Rate
0     0.000000         0.84
1     1.609438         0.71
2     2.708050         0.61
3     3.401197         0.56
4     4.094345         0.54

In [9]:
#Train data
x = myntra[['Time (Mins)']]
x.head()

   Time (Mins)
0     0.000000
1     1.609438
2     2.708050
3     3.401197
4     4.094345

In [10]:
#Test data
y = myntra[['Recall Rate']]
y.head()

   Recall Rate
0         0.84
1         0.71
2         0.61
3         0.56
4         0.54

In [11]:
#splitting data for train and test
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3)

In [12]:
lr = LinearRegression()

In [13]:
lr.fit(xtrain,ytrain)

LinearRegression()

In [14]:
ypred = lr.predict(xtest)

In [15]:
r2_score(ytest,ypred)

0.9572141828102891

In [16]:
mean_squared_error(ytest,ypred)

0.0008522399961475534

In [21]:
# checking coef value
coefficient = lr.coef_
coefficient

array([[-0.0800475]])

In [23]:
#Checking intercept value
intercept = lr.intercept_
intercept

array([0.84352629])

## Checking time when recall rate is 0.50