#                                              Pandas Assignment 1(A)



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset

In [4]:
chippo = pd.read_csv("PandasAssign1A.tsv",sep='\t')

### Step 3. Assign it to a variable called chipo.

In [5]:
chippo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [4]:
chippo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
chippo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [6]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [7]:
len(chippo.columns)

5

### Step 7. Print the name of all the columns.

In [8]:
chippo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [7]:
chippo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [8]:
max_ord_item  = chippo.item_name.mode()
max_ord_item

4622

### Step 10. For the most-ordered item, how many items were ordered?

In [28]:
chippo['quantity'].groupby(df['item_name']).sum().reset_index(name = 'qty_ordered').sort_values(['qty_ordered'], ascending = False)

                                item_name  qty_ordered
17                           Chicken Bowl          761
18                        Chicken Burrito          591
25                    Chips and Guacamole          506
39                          Steak Burrito          386
10                      Canned Soft Drink          351
23                                  Chips          230
38                             Steak Bowl          221
6                           Bottled Water          211
24           Chips and Fresh Tomato Salsa          130
9                             Canned Soda          126
21                     Chicken Salad Bowl          123
22                     Chicken Soft Tacos          120
37                          Side of Chips          110
45                         Veggie Burrito           97
2                        Barbacoa Burrito           91
44                            Veggie Bowl           87
11                          Carnitas Bowl           71
1                           Barbacoa Bowl           66
12                       Carnitas Burrito           60
43                       Steak Soft Tacos           56
0                       6 Pack Soft Drink           55
30    Chips and Tomatillo Red Chili Salsa           50
19                   Chicken Crispy Tacos           50
29  Chips and Tomatillo Green Chili Salsa           45
16                    Carnitas Soft Tacos           40
40                     Steak Crispy Tacos           36
31  Chips and Tomatillo-Green Chili Salsa           33
42                       Steak Salad Bowl           31
35                       Nantucket Nectar           29
32    Chips and Tomatillo-Red Chili Salsa           25
5                     Barbacoa Soft Tacos           25
27     Chips and Roasted Chili Corn Salsa           23
34                                   Izze           20
48                      Veggie Salad Bowl           18
28     Chips and Roasted Chili-Corn Salsa           18
3                   Barbacoa Crispy Tacos           12
4                     Barbacoa Salad Bowl           10
20                          Chicken Salad            9
13                  Carnitas Crispy Tacos            8
49                      Veggie Soft Tacos            8
8                                 Burrito            6
47                           Veggie Salad            6
15                    Carnitas Salad Bowl            6
7                                    Bowl            4
41                            Steak Salad            4
36                                  Salad            2
33                           Crispy Tacos            2
26      Chips and Mild Fresh Tomato Salsa            1
14                         Carnitas Salad            1
46                    Veggie Crispy Tacos            1

In [9]:
# freq = (df.groupby(['item_name'])['item_name'].agg(['count']), ascending=False)
chippo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
max_choice = chippo.choice_description.mode()
max_choice

0    [Diet Coke]
dtype: object

### Step 12. How many items were orderd in total?

In [12]:
chippo['choice_description'].value_counts()

[Diet Coke]                                                                                                                                                     134
[Coke]                                                                                                                                                          123
[Sprite]                                                                                                                                                         77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                           42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                40
                                                                                                                                                               ...
[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]                                                                                 1
[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Lettuce]]      1
[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Rice, Cheese, Sour Cream, Guacamole]]                                                             1
[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Cheese, Guacamole]]                                                                                         1
[Tomatillo Green Chili Salsa, [Fajita Vegetables, Pinto Beans, Cheese]]                                                                                           1
Name: choice_description, Length: 1043, dtype: int64

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chippo.item_price.dtype
# chippo.dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [10]:
chippo['item_price'] = chippo['item_price'].apply(lambda x: (float(x[1:])))

In [11]:
chippo['item_price'].dtype

dtype('float64')

#### Step 13.c. Check the item price type

In [46]:
chippo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
avg = chippo['item_price'].mean()

In [18]:
revenue = (chippo['quantity'].value_counts(bins=1) * avg)
print(f'Revenue of period is {revenue}')

Revenue of period is (0.985, 15.0]    34500.16
Name: quantity, dtype: float64

### Step 15. How many orders were made in the period?

In [15]:
chippo['order_id'].unique()

array([   1,    2,    3, ..., 1832, 1833, 1834], dtype=int64)

### Step 16. What is the average revenue amount per order?

In [17]:
# Solution 1
chippo.item_price.sum() / chippo.order_id.value_counts().count()

18.811428571428575

In [18]:
# Solution 2
chippo.item_price.sum() / len(chippo.order_id.unique())

18.811428571428575

### Step 17. How many different items are sold?

In [55]:
len(chippo.item_name.unique())

50

### Step 18. How many products cost more than $10.00?

In [53]:
len(chippo[chippo['item_price']> 10].item_name)

1130

### Step 19. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [20]:
df = pd.DataFrame(chippo, columns = ['item_name','item_price'])
df

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 20. Sort by the name of the item

In [21]:
df.sort_values('item_name')

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 21. What was the quantity of the most expensive item ordered?

In [41]:
# max_ord = chippo['item_price'].max()
# max_ord
# chippo.groupby(['item_price'])['quantity'].agg(['count'])
(chippo.groupby(['item_price'])['quantity'].agg(['count']).sort_values(by='count', ascending=False).reset_index().drop_duplicates('item_price', keep='first'))
# chippo.quantity.loc['$9.39 ']
# chipo.loc[quantity['']]

#chippo[chippo['item_price'] == chippo['item_price'].max()].shape[0]

    item_price  count
0         8.75    730
1        11.25    521
2         9.25    398
3         4.45    349
4         8.49    311
..         ...    ...
73        4.36      1
74        7.98      1
75        7.50      1
76        6.45      1
77       44.25      1

[78 rows x 2 columns]

### Step 22. How many times were a Veggie Salad Bowl ordered?

In [28]:
len(chippo[(chippo.item_name == 'Veggie Salad Bowl')])

18

### Step 23. How many times people orderd more than one Canned Soda?

In [26]:
len(chippo[(chippo.item_name == 'Canned Soda') & (chippo.quantity >1)])

20